version: "3.9"

services:
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    command: server /data --console-address ":9001"
    env_file:
      - minio.env
    ports:
      - "9000:9000" # S3 API endpoint
      - "9001:9001" # Web console
    volumes:
      - ./minio-data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  mc:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    container_name: minio-mc
    depends_on:
      minio:
        condition: service_healthy
    env_file:
      - minio.env
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 $$MINIO_ROOT_USER $$MINIO_ROOT_PASSWORD;
      mc mb -p local/$$MINIO_BUCKET || true;
      mc anonymous set download local/$$MINIO_BUCKET || true;
      exit 0;
      "
    restart: "no"
