version: "3.9"

services:
  opensearch:
    image: opensearchproject/opensearch:2.13.0
    container_name: opensearch
    environment:
      # режим одного узла
      - discovery.type=single-node

      - OPENSEARCH_JAVA_OPTS=-Xms2g -Xmx2g

      - plugins.security.disabled=true

      - network.host=0.0.0.0
      - http.port=9200

    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536

    volumes:
      - opensearch-data:/usr/share/opensearch/data

    ports:
      - "9200:9200"
      - "9600:9600" # metrics / performance analyzer

    restart: unless-stopped

volumes:
  opensearch-data:
